table {
    border-spacing: 0 10px;
}

table ul {
    margin: 0;
    padding: 0;
    list-style: inside;
}

table img {
    display: block;
    width: 100%;
    height: auto;
}

th, td {
    text-align: start;
    vertical-align: top;
}
th {
    white-space: nowrap;
}
td {
    padding-left: 10px;
}